html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-name {
    font-size: 20px;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.search-input {
    border: none;
    background-color: transparent;
}

.search-input::placeholder {
    color: lightgray;
}

.limited-offer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    margin-left: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider {
    background-image: url('../pumped-up-kicks/images/back2.png');
    background-size: 100%;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.slider-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
}

.slider-bg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    background-color: chocolate;
}

.slider-img {
    z-index: 1;
}

.slider-title {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
}

.slider-price {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    border: 1px solid gray;
}

.buy-button {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    background-color: black;
    border: 1px solid gray;
    z-index: 1;
    transition: 0.5s;
}

.buy-button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.slider-item:nth-child(1) .slider-bg {
    background-color: rgb(84, 213, 99);
}

.slider-item:nth-child(2) .slider-bg {
    background-color: rgb(84, 99, 213);
}

.slider-item:nth-child(3) .slider-bg {
    background-color: rgb(213, 110, 84);
}

.slider-item:nth-child(4) .slider-bg {
    background-color: rgb(213, 202, 84);
}

.slider-item:nth-child(5) .slider-bg {
    background-color: rgb(83, 78, 78);
}

.slider-item:nth-child(1) .slider-price {
    background-color: rgb(84, 213, 99);
}

.slider-item:nth-child(2) .slider-price {
    background-color: rgb(84, 99, 213);
}

.slider-item:nth-child(3) .slider-price {
    background-color: rgb(213, 110, 84);
}

.slider-item:nth-child(4) .slider-price {
    background-color: rgb(213, 202, 84);
}

.slider-item:nth-child(5) .slider-price {
    background-color: rgb(83, 78, 78);
}


.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature-img {
    height: 50px;
    width: 50px;
}

.feature-title {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.feature-description {
    color: gray;
    width: 50%;
    height: 100px;
}

.product {
    height: 100%;
    background-color: whitesmoke;
    position: relative;
}

.payment {
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: -1px 7px 32px 19px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -1px 7px 32px 19px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 7px 32px 19px rgba(0, 0, 0, 0.33);
}

.pay-title {
    color: lightgrey;
    font-size: 20px;
}

.label {
    font-size: 14px;
    font-weight: 300;
}

.pay-input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.pay-input::placeholder {
    color: lightgrey;
}

.card-icon {
    width: 40px;
}

.card-icons {
    display: flex;
}

.card-icon {
    margin-left: 10px;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.sm {
    width: 30%;
}

.pay-button {
    position: absolute;
    height: 40px;
    bottom: -0;
    width: 100%;
    left: 0;
    -webkit-box-shadow: -1px 7px 32px 19px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -1px 7px 32px 19px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 7px 32px 19px rgba(0, 0, 0, 0.33);
    background-color: rgb(43, 169, 87);
    cursor: pointer;
    border: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.pay-button:hover {
    -webkit-box-shadow: -1px 7px 32px 19px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: -1px 7px 32px 19px rgba(0, 0, 0, 0.33);
    box-shadow: -1px 7px 32px 19px rgba(43, 206, 92, 0.655);
    transition: 0.5s;
    color: black;
}

.close-payment {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    background: gray;
    top: 0px;
    right: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    font-weight: 600;
}

.close-payment:hover {
    color: rgb(244, 33, 33);
    transition: 0.3s;
}

.product-img {
    width: 50%;
}

.product-details {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 40%;
}

.product-title {
    font-size: 75px;
    font-weight: 900;
}

.product-description {
    font-style: 24px;
    color: gray;
}

.colors,
.sizes {
    display: flex;
    margin-bottom: 20px;
}

.color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.color:last-child {
    background-color: darkblue;
}

.size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.product-button {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 1s;
}

.product-button:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

.gallery {
    padding: 50px;
    display: flex;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 50px;
}

.gallery-img {
    width: 100%;
}

.new-season {
    display: flex;
}

.ns-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    background-color: black;
    color: white;
}

.ns-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.ns-title {
    font-size: 40px;
}

.ns-button {
    padding: 15px;
    font-weight: 600px;
    cursor: pointer;
}

@media(max-width: 1600px) {
    .slider-title {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }
}

@media(max-width: 1400px) {
    .logo-name {
        font-size: 15px;
    }
}

@media(max-width: 1200px) {
    .slider-bg {
        width: 450px;
        height: 450px;
    }

    .slider-img {
        width: 450px;
    }

    .buy-button {
        top: 70%;
    }

    .gallery {
        padding: 20px;
    }

    .gallery-img {
        width: 90%;
    }

    .product-title {
        font-size: 40px;
    }
}

@media (max-width: 900px) {

    .nav-bottom {
        flex-wrap: wrap;
    }

    .new-season {
        display: flex;
    }

    .ns-img {
        height: 90%;
    }

    .slider-price {
        top: unset;
        bottom: 0;
        left: 10;
    }

    .gallery-item {
        padding: 0px;
    }

    .slider-img {
        width: 350px;
    }

    .slider-bg {
        width: 350px;
        height: 350px;
    }

    .buy-button {
        top: 80%;
    }

    .product {
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-img {
        width: 80%;
        position: relative;
    }

    .product-details {
        width: 90%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
        left: 5px;
    }

    .product-title {
        font-size: 50px;
        margin: 0;
    }
}

@media (max-width: 600px) {
    .features {
        flex-direction: column;
    }
}


@media screen and (max-width: 480px) {
    nav {
        padding: 20px;
    }

    .search {
        display: none;

    }

    .menu-item {
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    .nav-bottom {
        flex-wrap: wrap;
    }

    .slider {
        clip-path: none;
    }

    .slider-img {
        width: 90%;
    }

    .slider-bg {
        width: 100%;
        height: 100%;
    }

    .slider-title {
        display: none;
    }

    .slider-price {
        top: unset;
        bottom: 0;
        left: 0;
        background-color: lightgray;
    }

    .buy-button {
        top: 0;
        right: 0;
    }

    .gallery {
        display: none;
    }

    .new-season {
        flex-direction: column;
    }

    .ns-item:nth-child(2) {
        padding: 50px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-left {
        padding: 20px;
        width: 90%;
    }

    .footer-right {
        padding: 20px;
        width: 90%;
    }

    .footer-right {
        padding: 20px;
        width: 90%;
        align-items: center;
    }

    .payment {
        width: 90%;
        padding: 20px;
    }

}